@model BusinessObjects.Item

@{
	ViewBag.Title = "About_Item";
}


<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="/Content/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/animate.css">
	<link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/Content/css/magnific-popup.css">
	<link rel="stylesheet" href="/Content/css/aos.css">
	<link rel="stylesheet" href="/Content/css/ionicons.min.css">
	<link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/Content/css/jquery.timepicker.css">
	<link rel="stylesheet" href="/Content/css/flaticon.css">
	<link rel="stylesheet" href="/Content/css/icomoon.css">
	<link rel="stylesheet" href="/Content/css/style.css">

</head>

<body>
	<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
					<h1 class="mb-0 bread">Product Single</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<a href="/Content/images/menu-2.jpg" class="image-popup"><img src="/Content/images/product-1.jpg" class="img-fluid" alt="Colorlib Template"></a>
				</div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>Young Woman Wearing Dress</h3>
					<div class="rating d-flex">
						<p class="text-left mr-4">
							<a href="#" class="mr-2">5.0</a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
						</p>
						<p class="text-left mr-4">
							<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
						</p>
						<p class="text-left">
							<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
						</p>
					</div>
					<p class="price"><span>$120.00</span></p>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<p>
						On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
					</p>
					<div class="row mt-4">
						<div class="col-md-6">
							<div class="form-group d-flex">
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Small</option>
										<option value="">Medium</option>
										<option value="">Large</option>
										<option value="">Extra Large</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="input-group col-md-6 d-flex mb-3">
							<span class="input-group-btn mr-2">
								<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
									<i class="ion-ios-remove"></i>
								</button>
							</span>
							<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
							<span class="input-group-btn ml-2">
								<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
									<i class="ion-ios-add"></i>
								</button>
							</span>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<p style="color: #000;">80 piece available</p>
						</div>
					</div>
					<p><a href="cart.html" class="btn btn-black py-3 px-5">Add to Cart</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Ralated Products</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-1.jpg" alt="Colorlib Template">
							<span class="status">30%</span>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-2.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-3.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-4.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/Content/js/jquery.min.js"></script>
	<script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/Content/js/popper.min.js"></script>
	<script src="/Content/js/bootstrap.min.js"></script>
	<script src="/Content/js/jquery.easing.1.3.js"></script>
	<script src="/Content/js/jquery.waypoints.min.js"></script>
	<script src="/Content/js/jquery.stellar.min.js"></script>
	<script src="/Content/js/owl.carousel.min.js"></script>
	<script src="/Content/js/jquery.magnific-popup.min.js"></script>
	<script src="/Content/js/aos.js"></script>
	<script src="/Content/js/jquery.animateNumber.min.js"></script>
	<script src="/Content/js/bootstrap-datepicker.js"></script>
	<script src="/Content/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/Content/js/google-map.js"></script>
	<script src="/Content/js/main.js"></script>

	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);


				// Increment

			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>

</body>
</html>




@*<head>
		<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	</head>

	<div>
		<br />
		<h1>@Model.Name </h1><hr />
		<h3>@Model.Title</h3>
		<br />

		<div align:left>
			@{
				decimal piecePrice = Model.Price / 100.0m;
				<p class="lead text-lg-left itemPrice">@Html.DisplayFor(modelItem => piecePrice) Eur už vienetą</p>
			}
		</div>

		<div style="width:80% ">
			<div class="card-header">@Html.DisplayNameFor(model => model.Description)</div>
			<div class="card-body">
				<p class="card-text">@Html.DisplayFor(model => model.Description)</p>
			</div>
		</div>


		<div class="row" style="width:100%">

			<div class="col-sm-8">
				@{
					if (Model.ImageUrl != null)
					{
						<img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" width="60%" class="img-thumbnail" />
					}
					else
					{
						<img src="@Url.Content("~/Content/Nuotraukos/nera.png")" alt="@Model.Name" width="60%" class="img-thumbnail" />

					}

				}
			</div>

			<table class="table-striped" style=" top:0em ;   width: 40%;margin: 5em 0;">
				<tr><td><b>Prekės kategorija: </b></td><td>@Html.DisplayFor(model => model.Category.Name)</td></tr>


				<tr><td style="font-weight: bold;">Prekės turimos savybės:</td></tr>

				@foreach (var property in Model.ItemProperties)
				{
					if (property.Value != null)
					{
						<tr><td>@property.Property.Name</td><td>@property.Value</td></tr>
					}
				}
			</table>


			<div style="">
				<div class="quantity" style="width:100%">

					<br /><br />
					<p class="lead text-lg-left" style="display: inline"> Pasirnkite norimą prekių kiekį užsakymą:</p>

					<br />

					<button class="minus-btn" type="button" name="button">
						<img width="25px" src="~/Content/Nuotraukos/atimti.png" alt="" />
					</button>

					<button class="plus-btn" type="button" name="button">
						<img width="25px" src="~/Content/Nuotraukos/prideti.png" alt="" />
					</button>


					<form id="myForm">
						@Html.HiddenFor(modelItem => Model.Id)
						<input class="quantityBox" type="text" name="quantityBox" value="1">
					</form>


					<p class="lead text-lg-left" id="totalPrice">@("Galutinė užsakymo kaina: " + Model.Price / 100.0m) Eurai</p>

				</div>

				<div>
					<button type="button" class="btn btn-primary" onClick="PridetiPreke(@Model.Id)">Prideti užsakymą į krepšeli</button>
					<button type="button" class="btn btn-dark" onclick="location.href = '@Url.Action("Index", "Main")'">Grįžti į valdymo langą</button>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">

		function PridetiPreke(itemID) {

			var quantity = $(".quantityBox");
			var quantityInt = parseInt(quantity.val());
			if (isNaN(quantityInt) || quantityInt < 1) {
				quantity.val(1);
				return;
			}

			var url = '@Url.Action("AddItemToCart", "Client")';
			$.ajax({
				type: "POST",
				url: url,
				data: { itemId: itemID, quantity: quantityInt},
				cache: false,
				dataType: 'html',
				success: function (response) {
					var result = JSON.parse(response);
					$("#CartBox").html(result.itemCount);
					$(".totalPrice").html(result.totalPrice);
					var x = document.getElementById("snackbar");
					x.innerHTML = result.message;
					x.className = "show";
					setTimeout(function () { x.className = x.className.replace("show", ""); }, 1300);
				}
			});
		}

		 $(document).ready(function () {

			 $('.quantityBox').on('change', function (e) {
				 e.preventDefault();
				 var $quantity = $(".quantityBox");
				 var quantityInt = parseInt($quantity.val());
				 var isDecimalComma = $(".itemPrice").html().split("<br>");

				 if (isDecimalComma[1] == undefined)
					 isDecimalComma = isDecimalComma[0]
				 else
					 isDecimalComma = isDecimalComma[1];

				 if (isDecimalComma == isDecimalComma.replace(".", ","))
					 var localeString = 'de-DE';
				 else
					 var localeString = 'en-US';

				 if (isNaN(quantityInt) || quantityInt < 1) {
					 $quantity.val(1);
					 var priceInFloat = parseFloat(@Model.Price) / 100;
					 var price = (priceInFloat).toLocaleString(localeString, { minimumFractionDigits: 2 });
					 $("#totalPrice").html("Galutinė užsakymo kaina: " + price + " Eurai");
					 return;
				 }
				 else if(quantityInt > 99999) {
					 $quantity.val(99999);
					 quantityInt = 99999;
				 }

				   var priceInFloat = parseFloat(@Model.Price) / 100;
				   var price = (priceInFloat * quantityInt).toLocaleString(localeString, { minimumFractionDigits: 2 });
				 $("#totalPrice").html("Galutinė užsakymo kaina: " + price + " Eurai");

			 });

			$('.minus-btn').on('click', function (e) {
				e.preventDefault();
				var $this = $(this);
				var $input = $this.closest('div').find('.quantityBox');
				var value = parseInt($input.val());

				if (value > 1) {
					value = value - 1;
				}
				$input.val(value).trigger('change');
			});

			$('.plus-btn').on('click', function (e) {
				e.preventDefault();
				var $this = $(this);
				var $input = $this.closest('div').find('.quantityBox');
				var value = parseInt($input.val());

				if (value < 100000) {
					value = value + 1;
				}
				$input.val(value).trigger('change');
			});

		});
	</script>*@