@*@model IEnumerable<BusinessObjects.Category>*@

@{
	ViewBag.Title = "Index";
}


@*What needs to be done in th main display page is actual Items from shop needs to be displayed here*@


<!DOCTYPE html>
<html lang="en">
<head>
	<title>D O</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="/Content/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/animate.css">
	<link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/Content/css/magnific-popup.css">
	<link rel="stylesheet" href="/Content/css/aos.css">
	<link rel="stylesheet" href="/Content/css/ionicons.min.css">
	<link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/Content/css/jquery.timepicker.css">
	<link rel="stylesheet" href="/Content/css/flaticon.css">
	<link rel="stylesheet" href="/Content/css/icomoon.css">
	<link rel="stylesheet" href="/Content/css/style.css">
</head>

<body class="goto-here">

	<section id="home-section" class="hero">
		<div class="home-slider js-fullheight owl-carousel">
			<div class="slider-item js-fullheight">
				<div class="overlay"></div>
				<div class="container-fluid p-0">
					<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img js-fullheight" style="background-image:url(/Content/images/bg_1.jpg);">
						</div>
						<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">It only takes one step to begin</span>
								<div class="horizontal">
									<h3 class="vr" style="background-image: url(/Content/images/divider.png);">Stablished Since 2000</h3>
									<h1 class="mb-4 mt-3">Become a Pro Player<br><span>Start &amp; Here</span></h1>
									<p>No achievement was reached without a fight.</p>

									<p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Become a Pro</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight">
				<div class="overlay"></div>
				<div class="container-fluid p-0">
					<div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img js-fullheight" style="background-image:url(/Content/images/bg_2.jpg);">
						</div>
						<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Winkel eCommerce Shop</span>
								<div class="horizontal">
									<h3 class="vr" style="background-image: url(/Content/images/divider.png);">Best eCommerce Online Shop</h3>
									<h1 class="mb-4 mt-3">A Thouroughly <span>Modern</span> Woman</h1>
									<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>

									<p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Shop Now</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb ftco-no-pt bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Content/images/about.jpg);">
					<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section-bold mb-4 mt-md-5">
						<div class="ml-md-0">
							<h2 class="mb-4">Better Way to Ship Your Products</h2>
						</div>
					</div>
					<div class="pb-md-5">
						<p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
						<div class="row ftco-services">
							<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services">
									<div class="icon d-flex justify-content-center align-items-center mb-4">
										<span class="flaticon-002-recommended"></span>
									</div>
									<div class="media-body">
										<h3 class="heading">Refund Policy</h3>
										<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services">
									<div class="icon d-flex justify-content-center align-items-center mb-4">
										<span class="flaticon-001-box"></span>
									</div>
									<div class="media-body">
										<h3 class="heading">Premium Packaging</h3>
										<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services">
									<div class="icon d-flex justify-content-center align-items-center mb-4">
										<span class="flaticon-003-medal"></span>
									</div>
									<div class="media-body">
										<h3 class="heading">Superior Quality</h3>
										<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-dark">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Best Sellers</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-1.jpg" alt="Colorlib Template">
							<span class="status">30%</span>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-2.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-3.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-4.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-8 d-flex align-items-stretch">
					<div class="img" style="background-image: url(/Content/images/about-1.jpg);"></div>
				</div>
				<div class="col-md-4 py-md-5 ftco-animate">
					<div class="text py-3 py-md-5">
						<h2 class="mb-4">New Women's Clothing Summer Collection 2019</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-white px-4 py-3">Shop now</a></p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 order-md-last d-flex align-items-stretch">
					<div class="img img-2" style="background-image: url(/Content/images/about-2.jpg);"></div>
				</div>
				<div class="col-md-7 py-3 py-md-5 ftco-animate">
					<div class="text text-2 py-md-5">
						<h2 class="mb-4">New Men's Clothing Summer Collection 2019</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-white px-4 py-3">Shop now</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-dark">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Products</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-5.jpg" alt="Colorlib Template">
							<span class="status">30%</span>
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-6.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-7.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="product">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="/Content/images/product-8.jpg" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a href="#">Floral Jackquard Pullover</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$120.00</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
								<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/Content/images/bg_4.jpg);">
		<div class="container">
			<div class="row justify-content-center py-5">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="10000">0</strong>
									<span>Happy Customers</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="100">0</strong>
									<span>Branches</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="1000">0</strong>
									<span>Partner</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="100">0</strong>
									<span>Awards</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate">
					<h2 class="mb-4">Our satisfied customer says</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Garreth Smith</p>
									<span class="position">Marketing Manager</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(/Content/images/person_2.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Garreth Smith</p>
									<span class="position">Interface Designer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(/Content/images/person_3.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Garreth Smith</p>
									<span class="position">UI Designer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Garreth Smith</p>
									<span class="position">Web Developer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								<div class="user-img mb-5" style="background-image: url(/Content/images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Garreth Smith</p>
									<span class="position">System Analyst</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<section class="ftco-section-parallax">
		<div class="parallax-img d-flex align-items-center">
			<div class="container">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2>Subcribe to our Newsletter</h2>
						<div class="row d-flex justify-content-center mt-5">
							<div class="col-md-8">
								<form action="#" class="subscribe-form">
									<div class="form-group d-flex">
										<input type="text" class="form-control" placeholder="Enter email address">
										<input type="submit" value="Subscribe" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/Content/js/jquery.min.js"></script>
	<script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/Content/js/popper.min.js"></script>
	<script src="/Content/js/bootstrap.min.js"></script>
	<script src="/Content/js/jquery.easing.1.3.js"></script>
	<script src="/Content/js/jquery.waypoints.min.js"></script>
	<script src="/Content/js/jquery.stellar.min.js"></script>
	<script src="/Content/js/owl.carousel.min.js"></script>
	<script src="/Content/js/jquery.magnific-popup.min.js"></script>
	<script src="/Content/js/aos.js"></script>
	<script src="/Content/js/jquery.animateNumber.min.js"></script>
	<script src="/Content/js/bootstrap-datepicker.js"></script>
	<script src="/Content/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/Content/js/google-map.js"></script>
	<script src="/Content/js/main.js"></script>

</body>
</html>





@*<br />

	<div align="center">
		Kreipiames i prekiu paieska
		@Html.Partial("__ItemSearchPartial")
	</div>

	<script type="text/javascript">
		document.write(kategorijuKlases)
	</script>*@


@*
	Kategoriju mygtuku juosta
	<div style="height:700px;position: absolute; left:5%; margin-left: -3px; top:25%;">
		@{
			var count = 0;
			foreach (var category in Model)
			{
				count += category.Items.Count;
			}
		}
		@foreach (var kategorija in Model)
		{
			// Tu kategoriju, kurios neturi prekiu nerodysime
			if (@kategorija.Items.Count > 0)
			{
				<button class="btn btn-dark" onclick="filterSelection('@kategorija.Name')" style="margin-bottom:2px; width:100%;"> @kategorija.Name <span class="badge badge-info">(@kategorija.Items.Count prekės)</span></button><br /><hr />
			}
		}
	</div>
*@

@*Kreipiamess i prekiu saraso funkcija*@

@*@Html.Action("Item_Search")*@


@*<script>
		filterSelection("visos")

		function filterSelection(kategorijos) {

			var kategorijuKlases;
			kategorijuKlases = document.getElementsByClassName("filterDiv");



			if (kategorijos == "Prekės be kategorijos")
			{
				// Pirma paslepiam visas prekes
				for (var i = 0; i < kategorijuKlases.length; i++) {
					w3RemoveClass(kategorijuKlases[i], "show");
					kategorijos = "";
				}

				// Dabar bar parodom tik tas kurios be kategorijos
				for (var i = 0; i < kategorijuKlases.length; i++) {

					if (kategorijuKlases[i].className == "filterDiv Neturi kategorijos")
						w3AddClass(kategorijuKlases[i], "show");
				}
			}

			// Parodyti visas kategorijas
			else if (kategorijos == "visos") {
				for (var i = 0; i < kategorijuKlases.length; i++) {
					w3AddClass(kategorijuKlases[i], "show");
					kategorijos = "";
				}
			}
			else {
				//Pereinu per visas prekes ir jas visas uzglaistau
				for (var i = 0; i < kategorijuKlases.length; i++) {
					w3RemoveClass(kategorijuKlases[i], "show");
				}

				// Dabar tos, kuriu indexai didesni nei neigiami tai jas rodom
				for (var i = 0; i < kategorijuKlases.length; i++) {

					if (kategorijuKlases[i].className.indexOf(kategorijos) > -1) {
						w3AddClass(kategorijuKlases[i], "show");
					}
				}
			}
		}

			function PridetiPreke(prekesId) {
			var url = '@Url.Action("AddItemToCart", "Client")';
			$("#AddMessage" + prekesId).html("").show();
			$.ajax({
				type: "POST",
				url: url,
				data: { itemId: prekesId, quantity: 1 },
				cache: false,
				dataType: 'html',
				success: function (response) {
					var result = JSON.parse(response);
					$("#CartBox").html(result.itemCount);
					var x = document.getElementById("snackbar");
					x.innerHTML = result.message;
					x.className = "show";
					setTimeout(function () { x.className = x.className.replace("show", ""); }, 1300);
				}
			});
		}


		// Generuotos w3 klases

		// Elemento pridejimo is matymo lauko
		function w3AddClass(element, name) {
			var i, arr1, arr2;
			arr1 = element.className.split(" ");
			arr2 = name.split(" ");
			for (i = 0; i < arr2.length; i++) {
				if (arr1.indexOf(arr2[i]) == -1) {
					element.className += " " + arr2[i];
				}
			}
		}

		// Elemento pasalinimo is matymo lauko
		function w3RemoveClass(element, name) {
			var i, arr1, arr2;
			arr1 = element.className.split(" ");
			arr2 = name.split(" ");
			for (i = 0; i < arr2.length; i++) {
				while (arr1.indexOf(arr2[i]) > -1) {
					arr1.splice(arr1.indexOf(arr2[i]), 1);
				}
			}
			element.className = arr1.join(" ");
		}

		var btnContainer = document.getElementById("myBtnContainer");
		var btns = btnContainer.getElementsByClassName("btn");
		for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function () {
				if (this.className.indexOf("notActive") > -1) {
					this.className = this.className.replace(" notActive", "");
				}
				else {
					this.className += " notActive";
				}
			});
		}
	</script>

	<script>
		$(".grid").on("click", ".trigger", function () {
			$.ajax({
				url: "/ProcessLogEntries",
				type: "post"
			})
				.done(function (result) {
					$(".grid").html(result);
				});
		});</script>*@