@model Presentation.Models.CategoryModel

@{
	ViewBag.Title = "AddCategory";
}

<h2>Sukurkite naują kategoriją</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="col-md-10">
		@Html.EditorFor(x => x.Properties)
	</div>


	<div class="form-group">
		<div class=" col-md-6">
			<br />
			<input type="submit" value="Pridėti naują kategoriją" class="btn btn-default" />
			<button type="button" style="margin-bottom:2px" class="btn btn-dark" color onclick="location.href = '@Url.Action("Categories", "Admin")'">Grįžti į kategorijas</button>
		</div>
	</div>

</div>
}



