@model BusinessObjects.Property

@{
	ViewBag.Title = "AddProperty";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Something will be here with properties</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-10">
				<input type="submit" value="Išsaugoti savybę" class="btn btn-default" />
				<button type="button" style="margin-bottom:2px" class="btn btn-dark" color onclick="location.href = '@Url.Action("Properties", "Admin")'">Grįžti į savybių valdymo langą</button>
			</div>
		</div>
	</div>
}