@model BusinessObjects.Item

@{
	var atvaizduojamaKaina = Model.Price / 100.0m;
	ViewBag.Title = "ItemInformation";
}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="/Content/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/animate.css">
	<link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/Content/css/magnific-popup.css">
	<link rel="stylesheet" href="/Content/css/aos.css">
	<link rel="stylesheet" href="/Content/css/ionicons.min.css">
	<link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/Content/css/jquery.timepicker.css">
	<link rel="stylesheet" href="/Content/css/flaticon.css">
	<link rel="stylesheet" href="/Content/css/icomoon.css">
	<link rel="stylesheet" href="/Content/css/style.css">
</head>


<body>

	@using (Html.BeginForm("ModifyItem", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_6.jpg');">
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-9 ftco-animate text-center">
						<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
						<h1 class="mb-0 bread">@Model.Name</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container" style="margin-top: 1%">
			<div class="row">
				<!-- What follows next is the sidebar, which probably could be inserted into eperate file and reused in all of the panels-->
				<!-- Sidebar spacing is always 2 space lg-4  -->
				<div class="col-md-2 col-lg-2 sidebar">
					<div class="sidebar-box-2">
						<h2 class="heading mb-4"><a href="@Url.Action("Index", "Admin")">Items in shop</a></h2>
						<ul>
							<li><a href="@Url.Action("ItemManagement", "Admin")">Import Items</a></li>
							<li><a href="@Url.Action("", "Admin")">Export Items</a></li>
							<li><a href="@Url.Action("AddItem", "Admin")">Create New Item</a></li>
							<li><a href="@Url.Action("Properties", "Admin")">Categories List</a></li>
							<li><a href="@Url.Action("Categories", "Admin")">(---) Sub-Categories List</a></li>
						</ul>
					</div>
					<div class="sidebar-box-2">
						<h2 class="heading mb-4"><a href="#">System Users</a></h2>
						<ul>
							<li><a href="@Url.Action("AddItem", "Admin")">Import &amp; Items</a></li>
							<li><a href="#">Dresses</a></li>
							<li><a href="#">Shorts &amp; Skirts</a></li>
							<li><a href="#">Jackets</a></li>
							<li><a href="#">Coats</a></li>
							<li><a href="#">Jeans</a></li>
						</ul>
					</div>
					<div class="sidebar-box-2">
						<h2 class="heading mb-4"><a href="#">Shoes</a></h2>
						<ul>
							<li><a href="#">Nike</a></li>
							<li><a href="#">Addidas</a></li>
							<li><a href="#">Skechers</a></li>
							<li><a href="#">Jackets</a></li>
							<li><a href="#">Coats</a></li>
							<li><a href="#">Jeans</a></li>
						</ul>
					</div>
				</div>

				<!-- Image section here -->
				<div class="col-lg-4 col-md-4 ftco-animate container doublePadding">
					<div style="text-align:center;">
						@if (Model.ImageUrl != null)
						{
							<a href="@Url.Content(Model.ImageUrl)" class="image-popup"><img src="@Url.Content(Model.ImageUrl)" class="img-fluid border" style="top:50%; width:250px; height:250px;"></a>
						}
						else
						{
							<a href="@Url.Content("~/Content/Images/NoImage.png")" class="image-popup"><img src="@Url.Content("~/Content/Images/NoImage.png")" class="img-fluid border" style="top:50%; width:250px; height:250px;"></a>
						}
					</div>
				</div>

				<div class="col-lg-6 product-details pl-md-6 ftco-animate doublePadding">
					<div class="rating d-flex">
						<p class="text-left mr-4">
							<a href="#" class="mr-2">5.0</a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
						</p>
						<p class="text-left mr-4">
							<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Collected Rating On Item [Future Feature]</span></a>
						</p>
						<p class="text-left">
							<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Amount Sold [Future Feature]</span></a>
						</p>
					</div>

					<div style="color:black" class="form-group">
						<b>@Html.LabelFor(model => model.SKUCode, htmlAttributes: new { @style = "margin-bottom: 0.0rem" })</b>
						<span style="margin-left: 10px">@Html.DisplayFor(model => model.SKUCode, new { htmlAttributes = new { @class = "col-md-12" } }) </span>
					</div>

					<div style="color:black" class="form-group">

						<b>@Html.LabelFor(model => model.Category, htmlAttributes: new { @style = "margin-bottom: 0.0rem" })</b>
						
						@if (Model.Category != null)
						{
							<span style="margin-left: 10px">@Html.DisplayFor(model => model.Category.Name, new { htmlAttributes = new { @class = "input100 col-md-12" } }) </span>
						}
						else
						{
							<a style="margin-left:10px"> Item has no Category</a>
						}

					</div>

					<div style="color:black" class="form-group">
						<b>@Html.LabelFor(model => model.Price, htmlAttributes: new { @style = "margin-bottom: 0.0rem" })</b>
						<span style="margin-left: 10px">@Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "col-md-6" } }) </span>
					</div>

					<div style="color:black" class="form-group">
						<b>@Html.LabelFor(model => model.Headline, htmlAttributes: new { @style = "margin-bottom: 0.0rem" })</b>
						<span style="margin-left: 10px">@Html.DisplayFor(model => model.Headline, new { htmlAttributes = new { @class = "col-md-12" } }) </span>
					</div>

					<div style="color:black; margin-bottom: 8%;" class="form-group">
						<b>@Html.LabelFor(model => model.Description, htmlAttributes: new { @style = "margin-bottom: 0.0rem" })	</b>
						<div>
							@Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "col-md-12", @style = "height:300px" } })
						</div>
					</div>

					<div class="rating d-flex">
						<button type="button" class="btn btn-warning" color onclick="location.href = '@Url.Action("ModifyItem", new { id = Model.Id })'">Edit the item</button>
						<button type="button" class="btn btn-warning" color onclick="location.href = '@Url.Action("Index")'" style="margin-left: 20px">Back to Item List</button>
					</div>

				</div>

			</div>
		</div>

	}

</body>

	

<script src="/Content/js/jquery.min.js"></script>
<script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/Content/js/popper.min.js"></script>
<script src="/Content/js/bootstrap.min.js"></script>
<script src="/Content/js/jquery.easing.1.3.js"></script>
<script src="/Content/js/jquery.waypoints.min.js"></script>
<script src="/Content/js/jquery.stellar.min.js"></script>
<script src="/Content/js/owl.carousel.min.js"></script>
<script src="/Content/js/jquery.magnific-popup.min.js"></script>
<script src="/Content/js/aos.js"></script>
<script src="/Content/js/jquery.animateNumber.min.js"></script>
<script src="/Content/js/bootstrap-datepicker.js"></script>
<script src="/Content/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/Content/js/google-map.js"></script>
<script src="/Content/js/main.js"></script>


<style>
	.doublePadding {
	  position: relative;
	  width: 100%;
	  padding-right: 15px;
	  padding-left: 15px;
	}
</style>