@model IEnumerable<BusinessObjects.Item>

@{
	ViewBag.Title = "ModifyItems";
}

<br />
<nav class="navbar navbar-inverse" >
	<div class="container-fluid">
		<div class="navbar-header" align="left">
			<button type="button" style="margin-bottom:2px" class="btn btn-default" color onclick="location.href = '@Url.Action("Import_Export_Items")'">Importuoti arba Eksportuoti prekes</button>
		</div>

		<div align="right">
			<button type="button" class="btn btn-success" color onclick="location.href = '@Url.Action("AddItem")'">Sukurti prekę</button>
			<button type="button" class="btn btn-warning" color onclick="location.href='@Url.Action("Categories")'">Tvarkyti prekių kategorijas</button>
			<button type="button" class="btn btn-warning" color onclick="location.href='@Url.Action("Properties")'">Fix the properties</button>
		</div>

	</div>
</nav>


<br />
<table class ="table-bordered" style="width: 100%; max-width: 100%; color:black;">
	<tr style="padding-bottom: 1em;">
		<th style="width:8%; text-align: center;">
			@Html.DisplayNameFor(model => model.SKUCode)
		</th>
		<th style="width:15%; text-align: center;">
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th style="width:8%; text-align: center;">
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th style="width:50%; text-align: center;">
			@Html.DisplayNameFor(model => model.Description)
		</th>
	</tr>
	@foreach (var item in Model)
	{
		var itemPriceInEur = item.Price / 100.0m;
		<tr>
		<td style="padding-bottom: 1em; text-align: center;">
			@Html.DisplayFor(modelItem => item.SKUCode)
		</td>
		<td style="padding-bottom: 1em;text-align: center; ">
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td style="padding-bottom: 1em;text-align: center;">
			@Html.DisplayFor(modelItem => itemPriceInEur) Eurai
		</td>
		<td style=" padding-bottom: 1em;">
			@Html.DisplayFor(modelItem => item.Description)
		</td>
		<td>
			<div style="width:235px;">
				<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("ItemInformation", new { id = item.Id })'">Prekės Informacija</button>
				<button type="button" class="btn btn-danger" color onclick="location.href = '@Url.Action("RemoveItem", new { id = item.Id })'">Ištrinti</button>
			</div>
		</td>
	</tr>
	}
</table>