

@{
	//In the DO Shop, admins are connecting with a secret password and then with their username;
	//On the other end, users are connecting with their emails;
	//That means different variables will be needed (won't be able to take email for both);
	var accountEmail = Session["AccountEmail"] as string;
	var accountUsername = Session["AccountUsername"] as string;
	var isAdmin = Session["IsAdminAccount"] as bool?;

	// Probably a check needs to be made for connected users (who forgot to log out) too
	//var isUser = Session["IsUserAccount"] as bool?;

	// When doing similar check to user's state, this can be usable
	if (!isAdmin.HasValue)
	{
		isAdmin = false;


	}


}

<!DOCTYPE html>
<html lang="en">

<head>
	@*Check if the title is needed later*@
	<title>D O</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="/Content/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/animate.css">
	<link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/Content/css/magnific-popup.css">
	<link rel="stylesheet" href="/Content/css/aos.css">
	<link rel="stylesheet" href="/Content/css/ionicons.min.css">
	<link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/Content/css/jquery.timepicker.css">
	<link rel="stylesheet" href="/Content/css/flaticon.css">
	<link rel="stylesheet" href="/Content/css/icomoon.css">
	<link rel="stylesheet" href="/Content/css/style.css">

	@*--Need to move this to the <head> section otherwise you will get '$ is undefined.' @Styles.Render("~/Content/css")*@
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")

</head>


@*The top black bar and the navigation bar is in all pages*@
<body>
	@*From here, the display of the navigation bar is made, depending on the state of the connected user/admin*@
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="@Url.Action("Index", "Main")">
				@*<img src="~/Content/Nuotraukos/DO.png" height="40%" width="40%" />*@
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">

					@if ((bool)isAdmin)
					{
						<li class="nav-item active"><a href="@Url.Action("Index", "Main")" class="nav-link">Items</a></li>
						<li class="nav-item active"><a href="@Url.Action("Shop", "Main")" class="nav-link">Orders</a></li>
						<li class="nav-item"><a href="@Url.Action("About", "Main")" class="nav-link">Customers</a></li>
						<li class="nav-item"><a href="@Url.Action("Blog", "Main")" class="nav-link">Blogs</a></li>
						<li class="nav-item"><a href="@Url.Action("LogOut", "Admin")" class="nav-link">Please Logout Administrator</a></li>
					}
					else
					{
						<li class="nav-item active"><a href="@Url.Action("Index", "Main")" class="nav-link">Home</a></li>
						<li class="nav-item active"><a href="@Url.Action("Shop", "Main")" class="nav-link">Shop</a></li>
						<li class="nav-item"><a href="@Url.Action("About", "Main")" class="nav-link">About</a></li>
						<li class="nav-item"><a href="@Url.Action("Blog", "Main")" class="nav-link">Blog</a></li>
						<li class="nav-item"><a href="@Url.Action("Contact", "Main")" class="nav-link"><span class="icon-phone2"></span>Contact</a></li>
					}

					@if (!User.Identity.IsAuthenticated)
					{
						<li class="nav-item"><a href="@Url.Action("Register", "Client")" class="nav-link">Register</a></li>
						<li class="nav-item"><a href="@Url.Action("Login", "Client")" class="nav-link">Log In</a></li>
					}
					else
					{
						if (!(bool)isAdmin)
						{
							<li class="nav-item"> <a href="@Url.Action("OrderHistory", "Client")" class="nav-link">Orders</a></li>
							<li class="nav-item cta cta-colored"><a href="@Url.Action("Cart", "Client")" class="nav-link"><span class="icon-shopping_cart"></span>My Cart</a></li>
							<li class="nav-item"><a href="@Url.Action("EditProfile", "Client")" class="nav-link">Edit Profile</a></li>
							<li class="nav-item"><a href="@Url.Action("LogOut", "Client")" class="nav-link">Log Out</a></li>
						}
					}

				</ul>
			</div>
		</div>
	</nav>


	<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
							<span class="text">Information here coming soon</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
							<span class="text">domasvz1@email.com</span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">3-5 Business days delivery &amp; Free Returns</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script src="/Content/js/jquery.min.js"></script>
<script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/Content/js/popper.min.js"></script>
<script src="/Content/js/bootstrap.min.js"></script>
<script src="/Content/js/jquery.easing.1.3.js"></script>
<script src="/Content/js/jquery.waypoints.min.js"></script>
<script src="/Content/js/jquery.stellar.min.js"></script>
<script src="/Content/js/owl.carousel.min.js"></script>
<script src="/Content/js/jquery.magnific-popup.min.js"></script>
<script src="/Content/js/aos.js"></script>
<script src="/Content/js/jquery.animateNumber.min.js"></script>
<script src="/Content/js/bootstrap-datepicker.js"></script>
<script src="/Content/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/Content/js/google-map.js"></script>
<script src="/Content/js/main.js"></script>